.App {
  text-align: center;
}

body,* {
  font-family: "arial";
  padding: 0;
  margin:0;
}
.container {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.profit-loss {
  color: green;
  font-size: 100px;
  padding: 10px;
}

.smily {
  display: block;
  color: lightblue;
  font-size: 30px;
}

.sign {
  text-align: center;
  color: rgba(128, 128, 128, 0.29);
}

.loader {
  position: fixed;
  color: white;
  left: 0;
  width: 100vw;
  font-size: 30px;
  background-color: rgba(0,0,150, .5);
  padding: 10px;
}

.verdict {
  display: block;
}

.calculation {
   display: block;
   color: #ccc;
   margin-top: 20px;
}

.coins-list {
  margin-top: 10px;
}
.coins-list__is-hidden {
  display: none;
}

.coins-list__ol {
  margin: 0;
  padding: 0;
  max-width:400px;
  margin: 0 auto;
}

.coins-list__li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

